.logo {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  a {
    display: block;
  }
  img {
    width: auto;
  }
}

.logo a span{
  font-size: 32px;
  padding-left: 14px;
  vertical-align: middle;
}
.logo-mobile {
  display: block;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  a {
    display: block;
  }
  img {
    width: auto;
  }
}
